@use "./variables" as *;
.flex-group {
  display: flex;
}
.grid-flow {
  display: grid;
}
.align-items-center {
  align-items: center;
}
.justify-space-between {
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-300 {
  gap: 0.5rem;
}
.gap-regular {
  gap: 1rem;
}
.color-primary-500 {
  color: $clr-primary-500;
}
.color-secondary-600 {
  color: $clr-secondary-600;
}
.loss-color {
  color: #f23985;
}
.custom-tooltip {
  padding: 0.5rem;
  background-color: $clr-neutral-100;
  border-radius: 0.5rem;
  font-weight: $fw-medium;
  box-shadow: 0px 6px 16px 0px rgba(27, 192, 237, 0.06);
}
.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
